<app-navbar></app-navbar>
<br>
<br>
<div class="auth-page mt-5">
  <div class="container page">
    <div class="row rowAuth">

      
      <div class="card authCard p-4 col-md-5 col-xs-12">


      

        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">

            <!-- <fieldset class="form-group">
              <input formControlName="username" placeholder="Username" class="form-control form-control-lg" type="text" *ngIf="authType == 'register'" />
            </fieldset> -->

            <mat-form-field class="form-group" appearance="outline" *ngIf="authType == 'clerk-register'">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username"  type="text"  required>
              <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>

            <br>

            <mat-form-field class="form-group" appearance="outline" *ngIf="authType == 'clerk-register'">
              <mat-label>First name</mat-label>
              <input matInput formControlName="first_name"  type="text"  required>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <br>

            <mat-form-field class="form-group" appearance="outline" *ngIf="authType == 'clerk-register'">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="last_name"  type="text"  required>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <br>

            <mat-form-field class="form-group" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" type="text" required>
              <mat-icon matSuffix>email</mat-icon>
             
            </mat-form-field>


            <mat-form-field class="form-group" appearance="outline" *ngIf="authType == 'clerk-register'">
              <mat-label>Shop name</mat-label>
              <input matInput formControlName="shop"  type="text"  required>
              <mat-icon matSuffix>store</mat-icon>
            </mat-form-field>





              <mat-form-field  class="form-group" appearance="outline" *ngIf="authType == 'clerk-login'">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password"  [type]="hide ? 'password' : 'text'" type="password" required>
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>


            <div class="row" [hidden]="authType == 'clerk-login'">
              <div class="col-md-5">

                  <mat-form-field  appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" type="password" required>
                  </mat-form-field>

              </div>


              <div class="col-md-5">

                <mat-form-field  appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" type="password" >
                 
                </mat-form-field>

              </div>

              <div class="visibilityIcon col-md-2 mt-4 ">
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

              </div>

            </div>

          

            <div class="row">
              <div class="col-md-6">
                <a [routerLink]="['/clerk-login']" *ngIf="authType == 'clerk-register'">Have an account?</a>
                <a [routerLink]="['/clerk-register']" *ngIf="authType == 'clerk-login'">Need an account?</a>

              </div>
              <div class="col-md-6 text-right">
                <button mat-flat-button class="submitBtn" type="submit" > Log in
               
                </button>
              </div>
            </div>


        
          </fieldset>

        </form>
      </div>

    </div>
  </div>
</div>



