<nav class="navbar navbar-expand-lg ">
  
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div> <img id="logo" src="#" alt="" width="60px"></div>
      <a class="nav-item nav-link active" routerLink="/" routerLinkActive='active'><h1>Superstore</h1></a>
      <div class="navbar-nav">
        <ul>
       <li> <a class="nav-item nav-link" routerLink="/merchant" routerLinkActive='active'>Merchant</a></li>
       <li> <a class="nav-item nav-link" routerLink="/manager" routerLinkActive='active'>Manager</a></li>
       <li> <a class="nav-item nav-link" routerLink="/clerk" routerLinkActive='active'>Clerk</a></li>
       <li> <a class="nav-item nav-link" routerLink="/signup" routerLinkActive='active'>Sign Up</a></li>
   
      </ul>
      </div>
    </div>
  </nav>