ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

  }
  
li {
    float: left;
}
  
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    font-size: 25px;
   
 
}
nav{
   background-color :#64b6ac;
   font-family: 'Lora', serif;
   height: 100px;
}
h1{
    margin-top: 20px;
}
