<ul>
    <li>
        <a class="nav-item nav-link active" routerLink="/merchant" routerLinkActive='active'>
            <h5 class="title">Dashboard</h5>
        </a>
    </li>

    <li>
        <a class="active" href="#home">
            <h5 class="card-title">Products</h5>
        </a>
    </li>


    <li>
        <a class="active" href="/clerk-sales">
            <h5>Sales</h5>
        </a>
    </li>


    <li>
        <a class="active" href="#home">
            <h5 class="card-title">Log out</h5>
        </a>
    </li>
</ul>


<div class="dashboard">
    <h1>Clerk</h1>
    <hr>

    <div class="auth-page mt-5">
        <div class="container page">
            <div class="row rowAuth">


                <div class="card authCard p-4 col-md-5 col-xs-12">
                    <h1> Product Sales</h1>

                    <form [formGroup]='salesForm'>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Item</mat-label>
                            <input matInput formControlName="item" type="text" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.item.hasError('required')">Item is required</mat-error>

                        <br>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Quantity</mat-label>
                            <input matInput formControlName="quantity" type="number" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.quantity.hasError('required')">Quantity is required
                        </mat-error>

                        <br>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Selling price</mat-label>
                            <input matInput formControlName="selling_price" type="number" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.selling_price.hasError('required')">Selling price is
                            required
                        </mat-error>

                        <br>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Shop</mat-label>
                            <input matInput formControlName="shop" type="text" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.shop.hasError('required')">shop is required
                        </mat-error>

                        <div class="col-md-6 text-right">
                            <button mat-flat-button (click)='addSale()' type="submit"> Submit

                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>



</div>