<ul>
    <li>
        <a class="nav-item nav-link active" routerLink="/manager" routerLinkActive='active'>
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/dashboard.png" width="36px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="title">Dashboard</h5>
        </a>
    </li>

    <li>
        <a class="nav-item nav-link active" routerLink="/merchant-manager" routerLinkActive='active'>
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/group-of-men.png" width="50px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Clerk</h5>
            <h5 class="card-title">Management</h5>
        </a>
    </li>



    <li>
        <a class="active" href="/manager-item">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/order.png" width="48px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Orders</h5>
        </a>
    </li>


    <li>
        <a class="active" href="#home">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/discount.png" width="40px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5>Sales</h5>
        </a>
    </li>


    <li>
        <a (click)="logout()" routerLinkActive="active">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/logout.png" width="30px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Log out</h5>
        </a>
    </li>
</ul>


<div class="dashboard">
    <h1>Manager</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="card products">
                <div class="card-body">
                    <img src="assets/images/basket.png" width="60px">
                    <h5 class="card-title">Total Products</h5>
                    <p class="card-text">10</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card sales">

                <div class="card-body">
                    <img src="assets/images/sale.png" width="60px">
                    <h5 class="card-title">Total Sales</h5>
                    <p class="card-text">20</p>

                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card products">
                <div class="card-body">
                    <img src="assets/images/store.png" width="60px">
                    <h5 class="card-title">Store</h5>
                    <p class="card-text">5</p>

                </div>
            </div>
        </div>


        


    </div>
</div>