<ul>
    <li>
        <a class="nav-item nav-link active" routerLink="/merchant" routerLinkActive='active'>
            <h5 class="title">Dashboard</h5>
        </a>
    </li>

    <li>
        <a class="nav-item nav-link active" routerLink="/merchant-manager" routerLinkActive='active'>
            <h5 class="card-title">Manager</h5>
        </a>
    </li>



    <li>
        <a class="active" href="/manager-item">
            <h5 class="card-title">Products</h5>
        </a>
    </li>


    <li>
        <a class="active" href="#home">
            <h5>Sales</h5>
        </a>
    </li>


    <li>
        <a class="active" href="#home">
            <h5 class="card-title">Log out</h5>
        </a>
    </li>
</ul>


<div class="dashboard">
    <h1>Manager</h1>
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="card products">
                <div class="card-body">
                    <img src="assets/images/basket.png" width="60px">
                    <h5 class="card-title">Total Products</h5>
                    <p class="card-text">10</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card sales">

                <div class="card-body">
                    <img src="assets/images/sale.png" width="60px">
                    <h5 class="card-title">Total Sales</h5>
                    <p class="card-text">20</p>

                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card products">
                <div class="card-body">
                    <img src="assets/images/store.png" width="60px">
                    <h5 class="card-title">Store</h5>
                    <p class="card-text">5</p>

                </div>
            </div>
        </div>

        


    </div>
    <div class="container">
        <div style="display: block;">
            <canvas baseChart 
            [datasets] ="barChartData"
            [labels]    ="barChartLabels"
            [options]   ="barChartOptions"
            [legend]    ="barChartLegend"
            [chartType] ="barChartType">
          </canvas>
        </div>
    </div>
</div>