<app-navbar></app-navbar>

<lottie-player id="firstLottie" slot="end" autoplay loop  src="https://assets4.lottiefiles.com/packages/lf20_WAMQ5G.json" style="width:350px; height: 350px;">"></lottie-player>

<div class="container-fluid">


    <div class="merchant">
        <div class="row">
            <div class="col-md-6">
                <a class="nav-item nav-link" routerLink="/register" routerLinkActive='active'>
                    <h2> Merchant login</h2>
                </a>
    
            </div>

            <div class="col-md-6">
                <img src="assets/images/next.png" width="60px">
            </div>
        </div>

        <div class="manager">
            <div class="row">
                <div class="col-md-6">
                    <a class="nav-item nav-link" routerLink="/manager-register" routerLinkActive='active'>
                        <h2> Manager login</h2>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/next.png" width="60px">
                </div>
            </div>
        </div>

        <div class="clerk">
            <div class="row">
                <div class="col-md-6">
                    <a class="nav-item nav-link" routerLink="/clerk-register" routerLinkActive='active'>
                        <h2> Clerk login</h2>
                    </a>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/next.png" width="60px">
                </div>
            </div>
        </div>

    </div>
</div>
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright Superstore Inc. All rights reserved.

    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->