<ul>

    <li>
        <a class="nav-item nav-link active" routerLink="/clerk" routerLinkActive='active'>
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/dashboard.png" width="36px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="title">Dashboard</h5>
        </a>
    </li>


    <li>
        <a class="active" href="/clerk-order">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/order.png" width="48px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Orders</h5>
        </a>
    </li>


    <li>
        <a class="active" href="/clerk-sales">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/discount.png" width="40px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5>Sales</h5>
        </a>
    </li>



    <li>
        <a (click)="logout()" routerLinkActive="active">
            <div class="row">
                <div class="col-sm-6 dash-img">
                    <img src="assets/images/logout.png" width="30px">
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <h5 class="card-title">Log out</h5>
        </a>
    </li>
</ul>


<div class="dashboard">
    <h1>Clerk</h1>
    <hr>




    <div class="auth-page mt-5">
        <div class="container page">
            <div class="row rowAuth">


                <div class="card authCard p-4 col-md-5 col-xs-12">
                    <h1> Supply request</h1>

                    <form [formGroup]='productForm'>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Item</mat-label>
                            <input matInput formControlName="item" type="text" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.item.hasError('required')">Item is required</mat-error>

                        <br>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Buying price</mat-label>
                            <input matInput formControlName="buying_price" type="number" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.buying_price.hasError('required')">Buying price is required
                        </mat-error>

                        <br>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Quantity bought </mat-label>
                            <input matInput formControlName="quantity_bought" type="number" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.quantity_bought.hasError('required')">Quantity bought is
                            required
                        </mat-error>

                        <br>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Supplier</mat-label>
                            <input matInput formControlName="supplier" type="text" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.supplier.hasError('required')">Supplier is required
                        </mat-error>

                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Shop</mat-label>
                            <input matInput formControlName="shop" type="text" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.shop.hasError('required')">Shop is required
                        </mat-error>


                        <mat-form-field class="form-group" appearance="outline">
                            <mat-label>Clerk</mat-label>
                            <input matInput formControlName="clerk" type="text" required>
                        </mat-form-field>
                        <mat-error *ngIf="submitted && field.clerk.hasError('required')">Clerk is required</mat-error>


                        <div class="col-md-5">
                            <div class="radio">
                                <label><input type="radio" [value]="true" formControlName="paid_for">Paid</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" [value]="false" formControlName="paid_for">Unpaid</label>
                            </div>

                        </div>
                        <div class="col-md-6 text-right">
                            <button mat-flat-button (click)='createProduct()' type="submit"> Submit

                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>