<ul>
        <li>
            <a class="active" href="#home">

                <h5 class="title">Dashboard</h5>
            </a>
        </li>

        <li>
            <a class="nav-item nav-link active" routerLink="/merchant-manager" routerLinkActive='active'>
                <h5 class="card-title">Manager</h5>
            </a>
        </li>



        <li>
            <a class="active" href="#home">
                <h5 class="card-title">Products</h5>
            </a>
        </li>


        <li>
            <a class="active" href="#home">

                <h5>Sales</h5>
            </a>
        </li>


        <li>
            <a class="active" href="#home">
                <h5 class="card-title">Log out</h5>
            </a>
        </li>
    </ul>


<div class="dashboard">
    <h1>Manager Management</h1>
    <hr>

        <div class="button">
            <button type="button" class="btn btn-secondary btn-lg"> Add  </button>
        </div>

        <app-manager-table></app-manager-table>

