<div class="container-fluid">

    <ul>
        <li>
            <a class="active" href="#home">

                <h5 class="title">Dashboard</h5>
</a>
</li>

<li>
    <a class="nav-item nav-link active" routerLink="/merchant-manager" routerLinkActive='active'>
                <h5 class="card-title">Manager</h5>
    </a>
</li>



<li>
    <a class="active" href="#home">
                <h5 class="card-title">Products</h5>
    </a>
</li>


<li>
    <a class="active" href="#home">
       
                <h5>Sales</h5>
    </a>
</li>


<li>
    <a class="active" href="#home">
                <h5 class="card-title">Log out</h5>
    </a>
</li>
</ul>


<div class="dashboard">
    <h1>Dashboard</h1>
    <hr>


    <data-table></data-table>

</div>